<header class="header">
	<div class="container">
		<nav class="header__nav">
			<a class="header__logo" href="#"><img src="@img/header-logo.svg" alt="header-logo"></a>
			<button id="login-btn" class="button button-primary login-btn">
				<img src="@img/login_btn_logo.svg" alt="login-logo">
				<span>Login</span>
			</button>
			<button id="create-visit-btn" class="button button-primary login-btn hidden">
				<img src="@img/create-visit-btn-logo.svg" alt="login-create-logo">
				<span>Create visit</span>
			</button>
		</nav>
	</div>
</header>