.button {
	border-radius: 6px;
	padding: $x8 $x16;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
}

.button-primary {
	color: $text-button-primary;
	background-color: $primary-default;

	&__login {
		line-height: $x20;
		margin-top: $x12;
	}

	&__modal {
		line-height: $x20;
		margin-top: $x12;
	}

	&:hover {
		background-color: $primary-hover;
	}

	&:active {
		outline: 3px solid $active-focus;
	}
}

.button-secondary {
	border: 1px solid $secondary-default;
	color: $secondary-default;
	background-color: $bg-secondary-default;

	&:hover {
		border: 1px solid $secondary-hover;
		color: $secondary-hover;
		background-color: $bg-secondary-hover;
	}

	&:active {
		outline: 3px solid $active-focus;
	}
}

.login-btn {
	display: flex;
	align-items: center;
	padding: 10px $x16;

	& span {
		padding-left: $x12;
		font-size: $x16;
	}
}

#close-visit-modal {
	cursor: pointer;
}