<div class="modal create-visit hidden" id="visit-modal">
	<div class="modal-body">
		<div class="modal-body__header header-modal">
			<h3 class="header-modal__title">Create visit</h3>
			<button id="close-visit-modal"><img src="@img/button-close-icon.svg" alt="close"></button>
		</div>
		<form class="modal-body__form form-modal" id="create-visit-card">
			<div class="dropdown__visit">
				<select name="doctor" id="doctor" class="dropdown">
					<option value="select-doctor" disabled selected hidden>Select doctor</option>
					<option value="Therapist">Therapist</option>
					<option value="Cardiologist">Cardiologist</option>
					<option value="Dentist">Dentist</option>
				</select>
				<select name="priority" id="priority" class="dropdown">
					<option name="priority" id="" disabled selected hidden>Select priority</option>
					<option name="priority" id="" class="dropdown__low" value="Low priority">Low priority</option>
					<option name="priority" id="" class="dropdown__medium" value="Medium priority">Medium priority</option>
					<option name="priority" id="" class="dropdown__high" value="High priority">High priority</option>
				</select>
			</div>
			<div class="input__visit">
				<div class="first-name">
					<p class="form-modal__label">First Name*</p>
					<input type="text" name="first-name" id="firstName" class="input input__visit" placeholder="Enter patient first name"
						required>
				</div>
				<div class="last-name">
					<p class="form-modal__label">Last Name*</p>
					<input type="text" name="last-name" id="lastName" class="input input__visit" placeholder="Enter patient last name" required>
				</div>
			</div>
			<label for="purpose" class="form-modal__label">Patient's visit purpose*</label>
			<input type="text" id="purpose" placeholder="Enter visit purpose" class="input" required>
			<label for="description" class="form-modal__label">Description</label>
			<textarea name="description" id="description" class="input input__area" placeholder="Enter description here..."></textarea>
			<div class="optional-inputs">

			</div>
			<button type="button" class="button button-primary button-primary__modal" id="create-visit">Create</button>
		</form>
	</div>
</div>
</div>