<template id="card-template">
    <div class="card-visit">
        <div class="card-visit__header">
            <div class="card-visit__info">
                <div class="card-visit__status awaiting">Awaiting</div>
                <div class="card-visit__status done hidden">Done</div>
                <p class="card-visit__id">Visit</p>
            </div>
            <div class="card-visit__buttons">
                <button class="card-visit__btn-show button-secondary button" type="button">Show more</button>
                <button class="card-visit__btn-edit" type="button"><img src="@img/icon-button-edit.svg" alt="btn-edit"></button>
                <button class="card-visit__btn-delete" type="button"><img src="@img/icon-button-delete.svg" alt="btn-delete"></button>
            </div>
        </div>
        <div class="card-visit__main">
            <p class="card-visit__doctor input">Cardiologist</p>
            <p class="card-visit__priority input">High priority</p>
            <p class="card-visit__title">First Name</p>
            <p class="card-visit__title">Last Name</p>
            <p class="card-visit__first-name input">Ihor</p>
            <p class="card-visit__last-name input">Svitak</p>
        </div>
        <div class="card-visit__additional-info hidden">
            <!-- <p class="card-visit__title">Patient's visit purpose</p>
            <p class="card-visit__title">Description</p>
            <p class="card-visit__purpose input">Therapy</p>
            <p class="card-visit__description input">Make observation</p> -->
            <!-- cardiologist -->
					<!-- <p class="card-visit__title">Age</p>
					<p class="card-visit__title">Сardiovascular diseases</p>
					<p class="card-visit__age input">26</p>
					<p class="card-visit__illnesse input">Thahicadia</p>
					<p class="card-visit__title">Normal pressure (mmHg)</p>
					<p class="card-visit__title">Body mass index</p>
					<p class="card-visit__pressure input">120/80</p>
					<p class="card-visit__illnesse input">20.1</p> -->
            <!-- therapist -->
					<!-- <p class="card-visit__title">Age</p><br>
					<p class="card-visit__age input">26</p> -->
            <!-- dentist -->
					<!-- <p class="card-visit__title">Last visit date</p><br>
					<p class="card-visit__last-visit-date input">25.03.2023</p> -->
        </div>
    </div>
</template>