// Модальне вікно Логінізації
// .modal-login-wrapper {
//     // display: block;
//     background: $bg-overlay;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
// }
// .modal-login {
//     max-width: 400px;
//     padding: 24px;
//     background: #FFFFFF;
//     border: 1px solid #E7E7E7;
//     border-radius: 12px;
//     color: $text-secondary;
//     font-weight: 500;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     &__title {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding-bottom: 18px;
//         font-weight: 700;
//         font-size: 20px;
//         line-height: 28px;
        
//     }

//     &__email {
//         width: 100%;
//         margin: 8px 0 16px 0;
//     }
//     &__password {
//         width: 100%;
//         margin: 8px 0 16px 0;
//     }
//     &__btn-login {
//         display: block;
//         padding: 8px 154px;
//         margin: 8px auto 24px auto;
//         border-radius: 6px;
//         cursor: pointer;
//     }
// }

// мій код 
.input__email {
    width: 352px;
    margin-top: 8px;

    position: relative;
}

.input__email-error {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: $alert-red;
    margin-bottom: 8px;

    position: absolute;
    top: 42%;
}

.input__email-error img {
    padding-right: 8px;
}

.input__password-error {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: $alert-red;
    margin-bottom: 8px;

    position: absolute;
    top: 67%;
}

.input__password-error img{
    padding-right: 8px;
}

// .password__label {
//     position: relative;
// }

.input__password {
    width: 352px;
    margin-top: 8px;
    position: relative;
}

.password__btn {
    position: absolute;
    top: 58%;
    right: 10%;
    cursor: pointer;
}

.eye-blue {
    display: none;
}
