.footer {
    background-color: $bg-page;
    padding: $x12 0;
    text-align: center;

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $text-disabled;
    }
}