.content-block {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	background-color: $bg-secondary-default;
	border-radius: $x8;
	margin-top: $x24;
}

.unauthorise-block {
	line-height: $x28;
	padding: $x48 0;
	text-align: center;
	color: $text-secondary;
}

.authorise-block {
	line-height: $x28;
	padding: $x48 0;
	text-align: center;
	color: $text-secondary;

	&__title {
		font-weight: 700;
		font-size: $x20;
		padding-bottom: $x12;
	}

	&__text {
		font-size: $x18;
	}
}


.filter {
	padding: $x12 $x24;
	margin-bottom: $x16;
	display: flex;
	gap: $x12;
}

.cards-section {
	display: flex;
	flex-direction: column;
	gap: $x12;
	padding: $x24;
	margin-top: $x24;
	margin-bottom: 10px;
}

.no-items {
	font-weight: 700;
	font-size: $x20;
	text-align: center;
}