@import "./reset";
@import "./variables";
@import "./mixins";
@import "./components/_buttons";
@import "./components/_inputs";
@import "./header";
@import "./main";
@import "./footer";
@import "./components/_modal";
@import "./modals/login-form";
@import "./modals/visitCard";


body {
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	position: relative;
}


.hidden {
	display: none;
}

.container {
	width: 1228px;
	margin: 0 auto;
}

.wrapper {
	background: $bg-page;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	>main {
		flex: 1 1 auto;
	}
}